ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
  margin: 10px 0;
}
/*  ↓ スライド（コンテンツ） */
.slide {
  /*スライド全体 */
  height: 100%;
  display: flex;
  transition: all 0.5s;
}
.slide div {
  /* スライド */
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
/* ↓ インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
  opacity: 0.3;
}
.indicator li:first-of-type {
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.edit-button {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid gray;
  cursor: pointer;
  text-decoration: none;
}
.name-container {
  margin: 5px;
  text-align: center;
}
.name-container h2 {
  font-size: 2rem;
}
.date-container {
  margin: 5px;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
}
.body-container {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.body {
  width: 50%;
  min-width: 350px;
  white-space: pre-wrap;
}
.map-container {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.map {
  width: 50%;
  min-width: 350px;
  height: 300px;
  border: 1px solid #ccc;
}
.delete-button-container {
  margin: 5px;
  text-align: center;
}
.delete-button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  cursor: pointer;
}
