<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h1>{{.blog.Title}}</h1>
    <p>{{.blog.Content}}</p>
    <div>
      {{range .blog.Images}}
      <img src="../{{.}}" alt="image" />
      {{end}}
    </div>
    <p>{{.blog.CreatedAt}}</p>
    {{if .authorized}}
    <div>
      <a href="/blog/{{.blog.ID}}/edit">編集</a>
      <a href="/blog/{{.blog.ID}}/delete">削除</a>
    </div>
    {{end}}
  </body>
</html>
