<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h1>{{.blog.name}}</h1>
    <a href="/">一覧ページに戻る</a>
    <div>
      {{range .blog.images}}
      <img src="../{{.URL}}" alt="image" />
      {{end}}
    </div>
    <p>{{.blog.body}}</p>
    <p>作成日時: {{.blog.createdAt}}</p>
    <p>更新日時: {{.blog.updatedAt}}</p>
    {{if .authorized}}
    <div>
      <a href="/blog/{{.blog.id}}/edit">編集</a>
      <form
        action="/blog/{{.blog.id}}/delete"
        method="post"
        onSubmit="return checkDelete()"
      >
        <button type="submit">削除</button>
      </form>
    </div>
    {{end}}

    <script>
      const checkDelete = () => {
        const key = "delete {{.blog.id}}";
        return (
          window.prompt(`削除する場合は、${key}と入力してください`) === key
        );
      };
    </script>
  </body>
</html>
