<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登録</title>

    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "{{.api_key}}", v: "beta"});</script>

    <link rel="stylesheet" href="../assets/css/create.css" />
  </head>
  <body>
    <h1>登録</h1>
    <a href="/">一覧ページに戻る</a>
    <div class="container">
      <div class="form-container">
        <form action="/create" method="post" enctype="multipart/form-data">
          <label for="name">名前</label>
          <input type="text" name="name" id="name" class="name-input" />
          <label for="image_data">画像</label>
          <input
            type="file"
            name="image_data"
            multiple="multiple"
            accept="image/jpeg"
            id="image_data"
            class="image-input"
          />
          <label for="body">本文</label>
          <textarea
            id="body"
            name="body"
            class="body-input"
            rows="6"
          ></textarea>
          <label for="pac-input">住所検索:</label>
          <input type="text" id="pac-input" />
          <div id="map"></div>
          <div class="address-form">
            <label for="address">住所:</label>
            <input type="text" id="address" name="address" readonly />
            <label for="lat">lat:</label>
            <input type="number" id="lat" name="lat" readonly />
            <label for="lng">lng:</label>
            <input type="number" id="lng" name="lng" readonly />
          </div>
          <button type="submit" class="submit-button">登録</button>
        </form>
      </div>
    </div>

    <script>
      const $placeList = document.querySelector(".place-list");

      const setAddressForm = (address, lat, lng) => {
        const $address = document.getElementById("address");
        const $lat = document.getElementById("lat");
        const $lng = document.getElementById("lng");

        $address.value = address;
        $lat.value = lat;
        $lng.value = lng;
      };

      const initMap = async () => {
        const position = { lat: 35.1538545, lng: 136.9586298 };

        const { Map } = await google.maps.importLibrary("maps");
        const { SearchBox } = await google.maps.importLibrary("places");
        const { AdvancedMarkerView } = await google.maps.importLibrary(
          "marker"
        );
        const { LatLngBounds } = await google.maps.importLibrary("core");
        const { Geocoder } = await google.maps.importLibrary("geocoding");

        const mapOptions = {
          zoom: 13,
          center: position,
          mapTypeId: "roadmap",
          mapId: "DEMO_MAP_ID",
        };
        const map = new Map(document.getElementById("map"), mapOptions);

        const input = document.getElementById("pac-input");
        input.addEventListener("click", (e) => {
          e.target.select();
        });
        const searchBox = new SearchBox(input);

        map.addListener("bounds_changed", () => {
          searchBox.setBounds(map.getBounds());
        });

        let marker;

        searchBox.addListener("places_changed", () => {
          const places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          const bounds = new LatLngBounds();

          const place = places[0];

          if (!place.geometry || !place.geometry.location) {
            console.log("Returned place contains no geometry");
            return;
          }

          if (marker) {
            marker.setMap(null);
          }

          marker = new AdvancedMarkerView({
            map,
            title: place.name,
            position: place.geometry.location,
            gmpDraggable: true,
          });

          setAddressForm(
            place.formatted_address,
            place.geometry.location.lat(),
            place.geometry.location.lng()
          );

          // update lat lng
          marker.addListener("dragend", (event) => {
            const lat = event.latLng.lat();
            const lng = event.latLng.lng();
            const newAddress = new Geocoder();
            newAddress.geocode({ location: { lat, lng } }, (results) => {
              setAddressForm(results[0].formatted_address, lat, lng);
            });
          });

          // remove marker
          marker.addListener("dblclick", (event) => {
            marker.setMap(null);
            setAddressForm("", "", "", "");
          });

          if (place.geometry.viewport) {
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
          map.fitBounds(bounds);
        });
      };

      initMap();
    </script>
  </body>
</html>
