<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>編集</title>
  </head>
  <body>
    <h1>編集</h1>
    <form
      action="/blog/{{.blog.id}}/edit"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="name">名前</label>
      <input type="text" name="name" id="name" value="{{.blog.name}}" />
      <div>
        <p>削除したい画像を選択してください</p>
        <ul>
          {{range .blog.images}}
          <label for="check-{{.URL}}">
            <img src="{{.URL}}" alt="image" width="300px" />
          </label>
          <input
            type="checkbox"
            name="delete-images[]"
            id="check-{{.URL}}"
            value="{{.URL}}"
          />
          {{end}}
        </ul>
      </div>
      <label for="image_data">画像を追加</label>
      <input
        type="file"
        name="image_data"
        multiple="multiple"
        accept="image/*"
        id="image_data"
      />
      <label for="body">本文</label>
      <input type="text" id="body" name="body" value="{{.blog.body}}" />
      <button type="submit">更新</button>
    </form>
    <a href="/blog/{{.blog.id}}">キャンセル</a>
  </body>
</html>
