<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>神社･お寺巡り日記</title>
  </head>
  <body>
    <h1>神社･お寺巡り日記</h1>
    <p>神社･お寺巡り日記へようこそ！</p>
    <p>
      このサイトは、<a href="https://twitter.com/hamao_0820" target="_blank"
        >はまお</a
      >が巡った神社やお寺を紹介するサイトです。
    </p>
    <div>
      ブログ一覧
      <ul>
        {{range .blogs}}
        <li>
          <a href="/blog/{{.id}}">
            <div>
              <img
                src="{{.thumbnail}}"
                alt="{{.name}}の画像"
                width="50px"
                height="50px"
              />
              <h2>{{.name}}</h2>
              <p>{{.createdAt}}</p>
            </div>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
    <div>
      {{with .authorized}}
      <a href="/create">新規作成</a>
      {{end}}
    </div>
    <div>
      {{if .authorized}}
      <form action="/logout" method="post">
        <button type="submit">ログアウト</button>
      </form>
      {{else}}
      <a href="/login">管理者ログイン</a>
      {{end}}
    </div>
  </body>
</html>
