<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>神社･お寺巡り日記</title>
    <link rel="stylesheet" href="assets/css/header.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    {{template "header" .}}
    <div>
      <div class="description-container">
        <p>神社･お寺巡り日記へようこそ！</p>

        <details>
          <summary>どんなサイト？</summary>
          <p>
            このサイトは、管理人の<a
              href="https://twitter.com/hamao_0820"
              target="_blank"
              >はまお</a
            >が巡った神社やお寺の写真や感想を紹介するサイトです。
          </p>
          <p>
            まだまだ巡っていない神社やお寺がたくさんあるので、これからもどんどん更新していきます！
          </p>
          <p>
            ※はまおは神社やお寺に詳しいわけではないので、間違いがあるかもしれませんが、ご了承ください。
          </p>
        </details>
      </div>
      <div class="view-container">
        <div class="blog-list-container">
          <h2>ブログ一覧</h2>
          <div class="blog-list">
            {{range .blogs}}
            <div class="blog-item">
              <a href="/blog/{{.id}}">
                <img
                  src="https://temple-shrine.s3.amazonaws.com/{{.thumbnail}}"
                  alt="{{.name}}の画像"
                  width="150"
                  height="150"
                />
              </a>
              <a href="/blog/{{.id}}">
                <div class="blog-info">
                  <h3>{{.name}}</h3>
                  <p class="created-at">{{.createdAt}}</p>
                </div>
              </a>
            </div>
            {{end}}
          </div>
          <div class="paginate">
            {{ if gt .paginate.BeforePage 0 }}
            <a href="/?page={{ .paginate.BeforePage }}" class="before-page"
              >前のページ</a
            >
            {{else}}
            <span class="before-page dummy">前のページ</span>
            {{ end }} {{ if gt .paginate.NextPage 0 }}
            <a href="/?page={{ .paginate.NextPage }}" class="next-page"
              >次のページ</a
            >
            {{else}}
            <span class="next-page dummy">次のページ</span>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
